/* フォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

.header {
    background: var(--color-bg-white);
}

.header__inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    border-bottom: 3px solid var(--color-bg-light);
}

.header__left,
.header__center,
.header__right {
    flex: 1;
}

.header__center {
    text-align: center;
}

.header__right {
    text-align: right;
}

.header__logo {
    color: var(--color-main);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

.page-title {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.page-title__heading{
    color: var(--color-main);
    text-align: center;
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 26px;
    margin: 5px 10px;
}