/* =========================
Layout
========================= */
.content {
    margin: 0 auto;
    max-width: 1230px;
    padding: 20px 15px 80px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

/* =========================
Table
========================= */

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__header {
    padding: 20px 40px;
    border: 1px solid var(--color-border);
    background: var(--color-sub);
    color: #fff;
    text-align: left;
    font-size: 15px;
    white-space: nowrap;
}

.confirm-table__text {
    padding: 15px 40px;
    border: 1px solid var(--color-border);
    color: var(--color-main);
    text-align: left;
    font-size: 15px;
}

/* 姓名の間のスペースを広くする為 */
.confirm-table__last-name {
    margin-right: 16px;
}

/* =========================
Button
========================= */
.form__button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form__button-submit {
    padding: 5px 30px;
    background: var(--color-main);
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.form__button-correct {
    padding: 5px 0px;
    background-color: #fff;
    color: var(--color-main);
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

