/* =========================
Layout
========================= */
.content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1230px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

/* =========================
Table
========================= */

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__header {
    padding: 20px 40px;
    width: 30%;
    border: 1px solid #ddd;
    background: #9D8D7F;
    color: #FFFFFF;
    text-align: left;
    font-size: 15px;
}

.confirm-table__text {
    padding: 15px 40px;
    width: 70%;
    border: 1px solid #ddd;
    color: #9D8D7F;
    text-align: left;
    font-size: 15px;
}

.last-name {
    margin-right: 16px;
}

/* =========================
Button
========================= */
.form__button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form__button-submit {
    padding: 5px 30px;
    background: #82746A;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form__button-correct {
    padding: 5px 0px;
    background-color: #FFFFFF;
    color: #82746A;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
