/* フォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

.thanks {
    position: relative;
    min-height: 100vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 20vw;
    color: var(--color-main);
    opacity: 0.08;
    white-space: nowrap;
}


.thanks__content {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    z-index: 1;
}

.thanks__message {
    padding: 30px;
    color: var(--color-main);
    font-weight: bold;
    font-size: 25px;
}

.thanks__button {
    padding: 10px 30px;
    background: var(--color-main);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Playfair Display', 'Times New Roman', serif;
}